* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22.5rem;
  height: 100vh;
}

.container-top {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.95rem;
}

.container-top img {
  width: 6rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container-top a {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.container-email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.container-email p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
}

.container-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  margin-bottom: 4rem;
}

.container-links a {
  color: #000;
  text-decoration: none;
  transition: 0.5s;
  font-size: 1rem;
}

.container-links a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.container-links a:active {
  opacity: 0.6;
  transform: scale(1.05);
}

.container-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  background-color: #fff;
  border: 1.5px solid #000;
  width: 80%;
  height: 2.5rem;
  weight: 400;
}

.link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-contact img {
  width: 1.5rem;
  padding-top: 1rem;
  transition: 0.5s;
}

.container-contact img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.container-contact img:active {
  opacity: 0.6;
  transform: scale(1.05);
}

.container-contact p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  width: 8rem;
  text-align: center;
}

.copyright {
  position: fixed;
  bottom: 0;
  background-color: #A9A9A9;
  width: 100%;
  display: flex;
  justify-content: center;
}

.copyright p {
  font-weight: 400;
  font-size: 0.8rem;
}